
{%extends "base.html"%}

{% block title%}
<title> Socapp app | Index</title>
{%endblock%}

{% block other%}

  <div class="jumbotron">
    <h1 class="display-4">Socialize with Friends</h1>
    <p class="lead">Socapp is a social media application that allows you to socialize and connect with friens</p>
    <hr class="my-4">
    <p>Share stories and comment on this platform</p>
    <a class="btn btn-primary btn-lg" href="{{url_for('signup')}}" role="button">Sign Up</a>
  </div>

{%endblock%}

    

